<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles/base.css')}}">





  <title>{{titulo}}</title>
</head>

<body>

    <h1 class="title">{{ titulo }}</h1>

  <section class="base wrapper">

    <nav class="menu">
      <div>
        <a href="">

            {% with messages = get_flashed_messages() %} {% if messages %}
              {% for message in messages %}
              <span>{{ message }}</span>
              {% endfor %}
            {% endif %} {% endwith %}

        </a>
        <a href="/logout">LOGOUT</a>
        <a href="/login">LOGIN</a>
        <a href="/novo">NOVO JOGO </a>
        <a href="/"> INICIO</a>
      </div>
    </nav>



     

      <div class="content">





      {% block conteudo %} {% endblock %}
    </div>

  </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="./script.js"></script>
</body>

</html>