* {margin:0;padding:0;border:0;height:auto;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-webkit-animation-fill-mode: none !important;}

/* h1 {font-weight:100;color:white;text-align:center;margin:30px 0;} */

p {font-weight:100;color:white;text-align:center;margin:30px 0;}

a {color:white;}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/* body {background-color:#0067A9;font-family: 'Roboto', sans-serif;} */

#kaban {float:left;position:relative;width:100%;ax-width:100%;height:auto;}
#scroller {float:left;position:relative;width:100%;max-width:100%;height:auto;overflow:auto;}
#boards {float:left;position:relative;width:auto;height:auto;margin-bottom:30px;}

.board {float:left;position:relative;width:300px;height:auto;margin:8px;background-color:lightgray;border-radius:3px;box-shadow:1px 1px 1px rgba(0,0,0,.2);}
.board header {float:left;width:100%;padding:.5em;background-color:lightgray;text-transform:uppercase;border-radius:3px 3px 0 0;}

#OnHold header {background-color:#BC3425;color:white}
#Progress header {background-color:#92549E;color:white}
#done header {background-color:#00B1CF;color:white}

.cards {list-style-type:none;float:left;width:100%;padding:4px 8px;}
.card {float:left;width:100%;height:auto;background-color:white;padding:10px;margin:4px 0;border-radius:3px;box-shadow:1px 1px 1px rgba(0,0,0,.2);
cursor:move; cursor:-webkit-grab; cursor:-moz-grab; cursor:grab;}
.cardtitle {float:left;width:100%;}
.cards .is-moving {background-color:white;color:black}


.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.gu-mirror {
  cursor:move; cursor:-webkit-grabbing; cursor:-moz-grabbing; cursor:grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  -webkit-transform: rotate(5deg);
transform: rotate(5deg);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}